# ==========================================
# ENVIRONMENT
# ==========================================
NODE_ENV=development
LOG_LEVEL=debug

# ==========================================
# INFRASTRUCTURE URIS
# ==========================================
NATS_URL=nats://nats:4222
REDIS_URL=redis://redis:6379

# ==========================================
# APP PORTS
# ==========================================
GATEWAY_PORT=4000
FRONTEND_PORT=3000